# JSON examples and exercise
Import required libraries

In [17]:
import pandas as pd
import json
from collections import Counter
import itertools

In [3]:
#Set maximum width for output column
pd.set_option('max_colwidth', 999)

In [4]:
# load as Pandas dataframe
df_main = pd.read_json('data/world_bank_projects.json')
df_main.head(2)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Secondary education'}, {'Name': 'Public administration- Other social services'}, {'Name': 'Tertiary education'}]",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement Project II,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Percent': 26, 'Name': 'Education'}, {'Percent': 16, 'Name': 'Public Administration, Law, and Justice'}, {'Percent': 12, 'Name': 'Education'}]",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, {'code': 'ES', 'name': 'Secondary education'}, {'code': 'BS', 'name': 'Public administration- Other social services'}, {'code': 'ET', 'name': 'Tertiary education'}]",{'$oid': '52b213b38594d8a2be17c780'}
1,"[{'Name': 'Public administration- Other social services'}, {'Name': 'General public administration sector'}]",N,OTHER,RE,"[Economic management, Social protection and risk management]",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administration, Law, and Justice'}, {'Percent': 30, 'Name': 'Public Administration, Law, and Justice'}]",November,"[{'code': '24', 'name': 'Other economic management'}, {'code': '54', 'name': 'Social safety nets'}]",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration- Other social services'}, {'code': 'BZ', 'name': 'General public administration sector'}]",{'$oid': '52b213b38594d8a2be17c781'}

In [5]:
df_main.shape

(500, 50)

In [6]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 1. Find the 10 countries with most projects

In [7]:
#Lets see all the column names
df_main.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [8]:
#Filter a smaller subset of DataFrame for 1.
df_projects = df_main[['countryname','project_name']]
df_projects.head(5)

,countryname,project_name
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement Project II
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support
2,Tuvalu,Tuvalu Aviation Investment Project - Additional Financing
3,Republic of Yemen,Gov't and Civil Society Organization Partnership
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Economic Diversification Prj

In [9]:
df_projects.groupby('countryname').count().sort_values(by='project_name', ascending=False).head(10)

                                 project_name
countryname
People's Republic of China                 19
Republic of Indonesia                      19
Socialist Republic of Vietnam              17
Republic of India                          16
Republic of Yemen                          13
People's Republic of Bangladesh            12
Nepal                                      12
Kingdom of Morocco                         12
Republic of Mozambique                     11
Africa                                     11

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

### Using this method as a faster option instead of next option with better readability

In [50]:
%%time
#use iteritems to get all values in column 'mjtheme_namecode'
i,l_items = zip(*df_main.mjtheme_namecode.iteritems())
#flatten the multiple list of dictionaries to single list of dictionaries
flattened_list  = list(itertools.chain(*list(l_items)))

#use extend to extract each dict item into a 'final' list
final = []
final.extend([item['name'] for item in flattened_list if item['name'] != ''])

#use counter to count frequency of each theme
c=Counter(final)
c.most_common(10)

Wall time: 0 ns

[('Environment and natural resources management', 250),
 ('Rural development', 216),
 ('Human development', 210),
 ('Public sector governance', 199),
 ('Social protection and risk management', 168),
 ('Financial and private sector development', 146),
 ('Social dev/gender/inclusion', 130),
 ('Trade and integration', 77),
 ('Urban development', 50),
 ('Economic management', 38)]

In [51]:
%%time
theme_dict = {'code': [],
              'name': []}

for index, row in df_main.iterrows():
    theme_dict['name'].extend([elem['name'] for elem in row['mjtheme_namecode']])
    theme_dict['code'].extend([elem['code'] for elem in row['mjtheme_namecode']])

    theme_df = pd.DataFrame.from_dict(theme_dict)
theme_df.head()

theme_df.groupby('name').size().sort_values(ascending=False)

Wall time: 600 ms

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
dtype: int64

### 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [52]:
%%time
list_code = []
list_name = []
list_name.extend([item['name'] for item in flattened_list if item['name'] != ''])
list_code.extend([item['code'] for item in flattened_list if item['name'] != ''])

#generate a dictionary with all code:name values
dict_theme = dict(zip(list_code,list_name))

theme = df_main['mjtheme_namecode']

#replace all '' with the the guide present in dict_theme
theme.replace(to_replace='', value=dict_theme, inplace=True, regex=True)

#create new dataframe by replacing mjtheme_namecode
df_new = df_main.assign(mjtheme_namecode=theme)
df_new['mjtheme_namecode']

Wall time: 8 ms

0                                                                                                                             [{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': 'Environment and natural resources management'}]
1                                                                                                                                   [{'code': '1', 'name': 'Economic management'}, {'code': '6', 'name': 'Social protection and risk management'}]
2      [{'code': '5', 'name': 'Trade and integration'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '11', 'name': 'Environment and natural resources management'}, {'code': '6', 'name': 'Social protection and risk management'}]
3                                                                                                                                     [{'code': '7', 'name': 'Social dev/gender/inclusion'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]
4                                                                                                                              [{'code': '5', 'name': 'Trade and integration'}, {'code': '4', 'name': 'Financial and private sector development'}]
                                                                                                                          ...
495                                                                                                                      [{'code': '4', 'name': 'Financial and private sector development'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]
496                                                    [{'code': '8', 'name': 'Human development'}, {'code': '5', 'name': 'Trade and integration'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '8', 'name': 'Human development'}]
497                                                                                                                                  [{'code': '10', 'name': 'Rural development'}, {'code': '6', 'name': 'Social protection and risk management'}]
498                                                                                                        [{'code': '10', 'name': 'Rural development'}, {'code': '10', 'name': 'Rural development'}, {'code': '10', 'name': 'Rural development'}]
499                                    [{'code': '9', 'name': 'Urban development'}, {'code': '8', 'name': 'Human development'}, {'code': '5', 'name': 'Trade and integration'}, {'code': '4', 'name': 'Financial and private sector development'}]
Name: mjtheme_namecode, Length: 500, dtype: object